body{
  font-family:"微软雅黑";
  font-size: 24px;
  background: #fff;
}

article {
  display: block;
}

input,textarea,select{
  font-size:12px;
  font-size:100%;
  font-family:arial;
  font-family:inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,dl,dd,dt{
  margin:0;
  padding:0;
}

ul,ol{
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a.block {
  display: block;
}

.fl{
  float:left;
}

.fr{
  float:right;
}

.clearfix:after{
  content: '';
  display: table;
  clear:both;
}

input,select,textarea {
  border:none;
  outline: none;
}
